.visual-content {
    display: inline;
    margin-left: 100px;
}

.visual-content img {
    margin-top: 40px;
}

@media screen and (max-width:575px) {
    .visual-content {
        display: block;
        width: 100%;
        margin-top: 40px;
        margin-left: 0px;
    }
    .visual-content img {
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:1024px) {
    .visual-content {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    .visual-content img {
        display: block;
        width: 80%;
        max-width: 500px;
        margin: 0 auto;
    }
}